body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.image-person {
  border: 1px solid green;
  width: 200px;
  min-height: 200px;
}
img {
  width: 100%;
  height: auto;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 80%;
  top: 0;
  left: 0;
}
.btn-container {
  position: fixed;
  bottom: 80px;
  left: 50%;
}

.image-preview {
  display: inline-block;
  border: 1px dotted;
  min-width: 100px;
  min-height: 100px;
  background-size: cover;
  background-position: center;
}
.profile-picture {
  width: 200px;
  height: 200px;
}
img {
  width: 100%;
  height: auto;
}
.display-picture {
  width: 200px;
  height: 250px;
}
.cropper-container .overlay {
  position: fixed;
  width: 100%;
  height: 80%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.cropper-container .button-container {
  position: fixed;
  bottom: 80px;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
}

.documents input[type="file"] {
  display: none;
}
